name: Build Chart

on:
  push:
    paths:
    - 'chart/'
    branches:
      - main
    tags:        
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Install Cosign
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: 'v2.2.0'
      - name: Helm lint & package & push
        run: |
          cd chart
          helm repo add kepler https://sustainable-computing-io.github.io/kepler-helm-chart
          helm registry login ${GHR} -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          helm registry login ${MTR} -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}
          helm dependency build
          helm lint .
          helm package .
          helm push $(ls *.tgz| head -1) oci://${GHR}/${{ github.repository_owner }}/charts
          helm push $(ls *.tgz| head -1) oci://${MTR}/${ORG}/charts
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
          GHR: ghcr.io
          MTR: mtr.devops.telekom.de
          ORG: caas
